.property-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  overflow: auto; /* Add this line to enable scrolling */
}

.property-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 1200px; Set a maximum width to prevent cards from stretching too far */
  width: 100%; /* Ensure the cards take full width */
}
