.search-bar {
  /* display: inline; */
}

input[type="text"] {
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 50vw;
  background-color: #1a1a1a;
  outline: none;
}

input[type="text"]:focus {
  box-shadow: 8px 12px 20px 4px #1a1a1a;
  outline: solid 1px #646cff;
  /* transition: box-shadow 0.25s; */
  transform: scale(1.15);
  transition: all 0.25s;
}
