.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    margin: 0 auto;
}

.input-title {
    padding: 12px 20px;
    border: 1px solid #41e221;
    outline: none;
}

.input-content {
    border: 1px solid #41e221;
    outline: none;
}

button {
    margin-top: 30px;
    padding: 5px 12px;
    background-color: transparent;
    outline: none;
    border: 1px solid #41e221;
    color: #41e221;
}
h3 {
    text-align: center;
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}
.btns {
    text-align: center;
}